* {
  text-decoration: none;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-color;
    text-decoration: none;
  }
}

body {
  background-image: url($images-path + '/background.jpg');
}

.header {
  background-image: url($images-path + '/header1.jpg');
}

@for $i from 1 through 23 {
  .header.theme-#{$i} {
  background-image: url($images-path + '/header' + $i + '.jpg') !important;
}
  .middle.theme-#{$i} {
    background-image: url($images-path + '/content' + $i + '.jpg') !important;
  }
}

#footer {
  background-color: $background-color;
}

.middle {
  background-image: url($images-path + '/content1.jpg');
  background-color: $background-color;
}

#content {
  background: url($images-path + '/block-content.jpg') repeat-y;
  .border-top {
    background: $background-color url($images-path + '/block-header.jpg') no-repeat scroll 0 0;
  }
  .border-bottom {
    background: $background-color url($images-path + '/block-footer.jpg') no-repeat scroll 0 0;
  }
  .subtitle {
    color: $default-color;
    background-image: url($images-path + "/subtitle.jpg");
  }
  .title {
    border-color:$default-color;
    &.title-default {
      background-image: url($images-path + '/title.jpg');
      color: $default-color;
    }
    &.title-register {
      background-image: url($images-path + '/title-register.jpg');
    }
    &.title-ranking {
      background-image: url($images-path + '/title-ranking.jpg');
    }
    &.title-rules {
      background-image: url($images-path + '/title-rules.jpg');
    }
    &.title-training-room {
      background-image: url($images-path + '/title-training-room.jpg');
    }
    &.title-history {
      background-image: url($images-path + '/title-history.jpg');
    }
    &.title-faq {
      background-image: url($images-path + '/title-faq.jpg');
    }
    &.title-contact {
      background-image: url($images-path + '/title-contact.jpg');
    }
    &.title-team {
      background-image: url($images-path + '/title-team.jpg');
    }
    &.title-profile {
      background-image: url($images-path + '/title-profile.jpg');
    }
    &.title-home {
      background-image: url($images-path + '/title-home.jpg');
    }
    &.title-appearance {
      background-image: url($images-path + '/title-appearance.jpg');
    }
    &.title-map {
      background-image: url($images-path + '/title-map.jpg');
    }
    &.title-inbox {
      background-image: url($images-path + '/title-inbox.jpg');
    }
    &.title-inventory-equip {
      background-image: url($images-path + '/title-inventory-equip.jpg');
    }
    &.title-inventory-objects {
      background-image: url($images-path + '/title-inventory-objects.jpg');
    }
    &.title-guild-message {
      background-image: url($images-path + '/title-guild-message.jpg');
    }
    &.title-magic {
      background-image: url($images-path + '/title-magic.jpg');
    }
  }
}

.header {
  .online-players {
    color:$default-color;
    background-color: $background-rgba;
  }
  .nav li {
    color: $default-color;
    a {
      color: $default-color;
      background-color: $background-rgba;
      &:hover,
      &:focus,
      &:active {
        border: 1px solid $default-color;
      }
    }
    &.dropdown {
      li a {
        color: $text-color;
      }
    }
  }
}
.list-group-item > .badge {
  background-color: $background-rgba;
}

#menu {
  > div {
    background: url($images-path + '/menu-inside.jpg') repeat-y;
  }
  .start {
    background: url($images-path + '/menu-start.jpg') no-repeat;
  }
  .end {
    background: url($images-path + '/menu-end.jpg') no-repeat;
  }
  .player h2 {
    background: url($images-path + '/menu-player.jpg') no-repeat;
  }
  .movement h2 {
    background: url($images-path + '/menu-move.jpg') no-repeat;
  }
  .connection h2 {
    background: url($images-path + '/menu-connect.jpg') no-repeat;
  }
  .principal h2 {
    background: url($images-path + '/menu-home.jpg') no-repeat;
  }
  .game h2 {
    background: url($images-path + '/menu-game.jpg') no-repeat;
  }
  ul li a {
    background: transparent url($images-path + '/menu-row.png') no-repeat scroll 0px 50%;
  }
  > div:not(.end):after {
    background: url($images-path + '/menu-end-block.jpg') no-repeat;
  }
}

#move-block {
  background: url($images-path + '/compass.png');
}

#home-edito, #home-news {
  border-color: $default-color;
  > dl {
    dt {
      color: $default-color;
      background-color: $background-color;
      background-image: url($images-path + '/title4.jpg');
    }
    dd {
      border-color: $default-color;
    }
  }
}

#home-news {
  >dl {
    dt {
      background: $background-news-color;
    }
  }
}

#move-block {
  .n a {
    &:active,
    &:focus,
    &:hover {
      background: url($images-path + '/compass.png') -67px -147px no-repeat !important;
    }
  }
  .s a {
    &:active,
    &:focus,
    &:hover {
      background: url($images-path + '/compass.png') -67px -222px no-repeat !important;
    }
  }
  .e a {
    &:active,
    &:focus,
    &:hover {
      background: url($images-path + '/compass.png') -75px -509px no-repeat !important;
    }
  }
  .w a {
    &:active,
    &:focus,
    &:hover {
      background: url($images-path + '/compass.png') 0px -509px no-repeat !important;
    }
  }
  .ne a {
    &:active,
    &:focus,
    &:hover {
      background: url($images-path + '/compass.png') -82px -297px no-repeat !important;
    }
  }
  .nw a {
    &:active,
    &:focus,
    &:hover {
      background: url($images-path + '/compass.png') 0px -297px no-repeat !important;
    }
  }
  .sw a {
    &:active,
    &:focus,
    &:hover {
      background: url($images-path + '/compass.png') 0px -379px no-repeat !important;
    }
  }
  .se a {
    &:active,
    &:focus,
    &:hover {
      background: url($images-path + '/compass.png') -82px -379px no-repeat !important;
    }
  }
}

#refresh {
  background: url($images-path + '/refresh.jpg');
}

.list-dots {
  list-style-image: url($images-path + '/list-dot.jpg');
}

.events {
  .event {
    .event-meta {
      color: $default-color;
    }
    .event-title {
      color: $text-color;
    }
  }
}

#inventory {
  img {
    background-color: $background-news-color;
    border-color: $default-color;
    color: $default-color;
  }
}

.ivu-form {
  .ivu-form-item-label {
    color: $text-color;
  }
}
