.friend {
  color: green;
  background: transparent;
  font-weight: bold;
}

.enemy {
  color: orange;
  background: transparent;
  font-weight: bold;
}

.admin {
  color: green;
  background: transparent;
}

.modo {
  color: #66CC33;
  background: transparent;
}

.deleted {
  color: #CC3399;
  background: transparent;
}

.guest {
  color: #6666CC;
  background: transparent;
}

.banned {
  color: darkred;
  background: transparent;
}

.guild {
  color: #FFCC33;
  background: black;
  font-size: larger;
}

.saiyajin {color: #ffdf9b;}
.human {color: #c0e4f2;}
.human-saiyajin {color: #0b9284;}
.namekian {color: #aff874 ;}
.dragon {color: #996633;}
.alien {color: #8c3bae;}
.cyborg {color: #523698;}
.majin {color: #c2229b;}
.npc {color: #336699;}
.bad {color: #bd0202;}
.good {color: blue;}
