#inventory {
  .form-control {
    padding: 0;
  }
  .character {
    height: 600px;
    width: 100%;
    margin-top: 15px;
  }
  .type-title {
    font-weight: bold;
    text-transform: uppercase;
  }
  td {
    text-align: center;
    border: none;
    vertical-align: middle;
    .inventory-modal {
      width: 70px;
      margin: 0 auto;

      .inventory-box {
        display: table-cell;
        vertical-align: middle;
        font-size: 11px;
        width: 70px;
        height: 70px;
        border-style: solid;
        border-width: thin;
        margin: 0 auto;
      }
    }
  }
  a:hover{
    text-decoration: none;
  }
  .equiped {
    margin: 0 auto;
    img {
      padding: 0;
      margin: 0;
      border: none;
    }
    .ivu-poptip {
      cursor: pointer;
    }
  }
  img {
    margin: 5px;
    border-style: solid;
    border-width: thin;
    padding: 10px;
  }
}

.inventory {
  display: flex;
  flex-flow: row wrap;

  .image-block {
    width: 70px;
    height: 70px;
  }

  > div {
    margin: 10px;
    text-align: center;
  }
  .ivu-select {
      display: block;
  }
}
