.stats,
.requirements {
    margin-top: 10px;
    .bold {
        font-weight: bold;
    }
}


.details {
    margin-top: 10px;
    margin-bottom: 20px;
    .stats,
    .requirements {
        margin-top: 5px;
    }
}
