#guild {
    .top {
        background: url(/images/guild/hq.jpg) no-repeat;
        background-position: 100% 70%;
        padding-bottom: 50px;
        height: 300px;
        position: relative;
        .bottom {
            position: absolute;
            bottom: 15px;
            right: 0;
        }
    }
    .title-guild-message {
        background-position: 0 -6px;
    }

    .guild-description {
        .little-title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            text-align: center;
            text-decoration: underline;
        }
    }
}
