#inbox {
  .list-dots {
    li {
      float: left;
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
}

.list-dots {
  list-style-position: inside;
  padding-left: 10px;
  .active {
    font-weight: bold;
  }
}
