.player-stats {
  width: 260px;
  padding: 0 10px 1em 10px;
  margin: 50px 10px 0 0;
  border-style: none solid solid solid;
  border-width: thin;

  h2 {
    text-align:center;
    font-size: 11px;
    border-style: solid;
    border-width: thin;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0.5em 0;
    margin: 0 -20px 10px -20px;
  }
}

.account {
    .profile-table {
        td.spacing {
            padding-left: 20px;
        }
    }
    .profile-data,
    .profile-table {
        margin-bottom: 20px;
    }
    .profile-data {
        margin-top: 20px;
    }
}
