
.ivu-poptip-content,
.ivu-poptip-body-content {
  white-space: initial;
  text-align: left;
}

.ivu-table-cell {
    word-break: normal;
    .ivu-btn {
        margin-bottom: 10px;
    }
}

.ivu-btn {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.ivu-btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.ivu-btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.ivu-btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.ivu-btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.ivu-btn-error {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}
