#ranking {
  display:block;
  margin-top: 25px;
  width: 100%;
  ul{
    column-count: 4;
    overflow: visible;
    list-style: none;
    padding: 0;
    li {
      min-height: 60px;
      a.active {
        font-weight: bold;
      }
    }
  }
}
