$images-path: '/images/styles/good';
$text-color: #065bb1;
$link-color: #9b2e2e;
$default-color: #000;
$title-color: #ef9a05;
$background-color: $default-color;
$background-rgba: rgba(0, 0, 0, 0.3);

@import 'style'
