$images-path: '/static/images/styles/good';
$text-color: #065bb1;
$link-color: #04417e;
$default-color: #fff;
$title-color: $default-color;
$background-color: $default-color;
$background-rgba: rgba(255, 255, 255, 0.3);
$background-news-color: #a0d6ee;
